@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background: #24272e;
}

header {
    padding: 20px;
    background: white;
}

header>h1 {
    text-align: center;
    color: gray;
}

.score-board {
    margin: 20px auto;
    border: 5px solid white;
    border-radius: 5px;
    width: 220px;
    text-align: center;
    font-size: 48px;
    color: white;
    padding: 10px 10px;
    position: relative;
}

.badge {
    background: red;
    font-size: 14px;
    color: white;
    padding: 2px 10px;
}

#user-badge {
    position: absolute;
    top: 25px;
    left: -25px;
}

#comp-badge {
    position: absolute;
    top: 25px;
    right: -25px;
}

.result {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

img {
    height: 100px;
}

.choice {
    display: inline-block;
    border: 5px solid white;
    border-radius: 50px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    background: plum;
    cursor: pointer;
}

#action-message {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.green-glow {
    border: 5px solid green;
    box-shadow: 0 0 10px green;
}

.red-glow {
    border: 5px solid red;
    box-shadow: 0 0 10px red;
}

.gray-glow {
    border: 5px solid grey;
    box-shadow: 0 0 10px gray;
}